<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- My custom css -->

  <link rel="stylesheet" type="text/css" href="main.css">
  <link rel="stylesheet" type="text/css" href="card-noticias.css">
  <link rel="stylesheet" type="text/css" href="footer.css">
  <!-- END My custom css -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

  <title>Ultimas noticias </title>
</head>
<body>
  <div class="content-wrapper">
    <%- include('header.ejs'); %>
    <h2 class="h2 text-center my-5">Todas las noticias</h2>

    <seccion class="container my-5 tarjeta-container">

      <% for (let i = 0; i < noticias.length; i++) { %>
        <div class="card">
          <div class="card-details">
            <p class="text-title"> <%= noticias[i].titulo %> </p>
            <p class="text-body"> <%= noticias[i].des %></p>
            <p class="text-light rounded bg-primary p-2">Fecha: <%= noticias[i].creado %> </p>
          </div>
           <a href="/noticias?id=<%= noticias[i].id %>" class="card-button">Leer mas
            <svg viewBox="0 0 13 10" height="10px" width="15px">
          <path d="M1,5 L11,5"></path>
          <polyline points="8 1 12 5 8 9"></polyline>
        </svg> </a>
        </div>
      <% } %>
    </seccion>

  </div>
    <footer>
        <%- include('../views/footer.ejs'); %>
    </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
